* {
    color: rgb(216, 216, 216);
}
.main_container{
    background-color: rgb(29, 29, 29);
    padding: 5%;
}
button {
    width: 10vh;
    height: 10vh;
    border-radius: 5px;
}
.button_back {
    background-color: purple;
}
.power_button {
    background-color: lightseagreen;        
}
.settings_button {
    background-color: lightcoral;
}

.info_power {
    background-color: tomato;
}